<div class="mag-wrapper">
    <div class="mag section section" id="magstyle44"><div class="widget HTML" data-version="1" id="HTML921">
            <div class="widget-content">
                <div class="title"><span></span><a href="https://news16-templatemark.blogspot.com/search/label/Facebook">Worlds News</a><div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/Facebook"><i aria-hidden="true" class="fa fa-list-ul"></i> All News</a></div></div>
                <div class="clear"></div>
                <ul id="label_with_thumbs">
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">
                                <img class="label_thumb" src="/News16_files/woman_593141_960_720_003.jpg" title="New Form of Farming Revolutionizes the Way We Eat" alt="New Form of Farming Revolutionizes the Way We Eat" style="width: auto; height: 200px; margin-left: -22.3182px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">New Form of Farming Revolutionizes the Way We Eat</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" target="_top">3 Comments</a>
                        </div>
                        <p class="post-summary">By 2050, the world population will reach almost 10 billion people, at least 66 percent of whom will live in urban...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top">
                                <img class="label_thumb" src="/News16_files/sunglasses_635269_96_xlKy3_002.jpg" title="Study Suggests Today’s US Students Are Less Efficient Readers" alt="Study Suggests Today’s US Students Are Less Efficient Readers" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top">Study Suggests Today’s US Students Are Less Efficient Readers</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#comment-form" target="_top">2 Comments</a>
                        </div>
                        <p class="post-summary">Do
                            today’s students perform better than their peers in 1960? Given the
                            advances in education and technology, it would be natural...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">
                                <img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a>
                        </div>
                        <p class="post-summary">The American Heart Association/American Stroke Association (AHA/ASA), the world’s leading voluntary organization dedicated to...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_top">
                                <img class="label_thumb" src="/News16_files/necklace_518268_960__CTVFi.jpg" title="Fall in Love with Greater Fort Lauderdale" alt="Fall in Love with Greater Fort Lauderdale" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_top">Fall in Love with Greater Fort Lauderdale</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#comment-form" target="_top">No Comments</a>
                        </div>
                        <p class="post-summary">Travelers may think of summer and beach activities when they think of Florida, but Greater Fort Lauderdale takes its relaxing...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top">
                                <img class="label_thumb" src="/News16_files/laugh_536287_960_720_002.jpg" title="Football Helmet Safety in Three Simple Steps" alt="Football Helmet Safety in Three Simple Steps" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top">Football Helmet Safety in Three Simple Steps</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html#comment-form" target="_top">No Comments</a>
                        </div>
                        <p class="post-summary">As the high school and college football seasons heat up, the National Operating Committee on Standards for Athletic Equipment...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top"><img class="label_thumb" src="/News16_files/kid_1241817_960_720_002.jpg" title="Outdoor Living – Bringing the Inside Out" alt="Outdoor Living – Bringing the Inside Out" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;"></a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top">Outdoor Living – Bringing the Inside Out</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html#comment-form" target="_top">No Comments</a>
                        </div>
                        <p class="post-summary">Enjoying
                            your outside space does not have to take place on a dimly lit patio
                            with moderately comfortable furniture devoid of fine...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">
                                <img class="label_thumb" src="/News16_files/girl_97433_960_720_002.jpg" title="Help for Homeowners On the Hook for Billions in Hurricane Damages" alt="Help for Homeowners On the Hook for Billions in Hurricane Damages" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">Help for Homeowners On the Hook for Billions in Hurricane Damages</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html#comment-form" target="_top">No Comments</a>
                        </div>
                        <p class="post-summary">And now comes the arduous task of rebuilding hundreds of thousands of houses destroyed or damaged by Hurricanes Harvey and...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_top">
                                <img class="label_thumb" src="/News16_files/child_817373_960_720_002.jpg" title="Solving A Major Problem in Additive Manufacturing" alt="Solving A Major Problem in Additive Manufacturing" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_top">Solving A Major Problem in Additive Manufacturing</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html#comment-form" target="_top">No Comments</a>
                        </div>
                        <p class="post-summary">A
                            new approach to making everything from jet engines to toys, called 3D
                            printing, is creating a revolution in manufacturing — and...</p>
                    </li>
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">
                                <img class="label_thumb" src="/News16_files/blue_2705642_960_720.jpg" title="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" alt="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">5 Mistakes to Avoid When Choosing a Medicare Advantage Plan</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html#comment-form" target="_top">No Comments</a>
                        </div>
                        <p class="post-summary">The
                            Medicare Annual Election Period takes place this fall from Oct. 15
                            through Dec. 7. It’s a time for people with Medicare to...</p>
                    </li>
                </ul>
            </div>
        </div></div>
    <div class="clear"></div>
</div>