<div class="featuredposts" id="featuredposts">
    <div class="first-tmb section" id="first-tmb">
        <div class="widget HTML" data-version="1" id="HTML102">
            <div class="layout-content">
                <ul>
                    <li>
                        <a href="https://news16-templatemark.blogspot.com/search/label/Advertisement" class="post-tag">Advertisement</a>
                        <a class="arl-tmb" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" style="background:url(https://1.bp.blogspot.com/-Y3jtko20nZA/We42YMNGo4I/AAAAAAAACvA/UEahaZNOpCcC_3llLMX40ARU9MRkCPNMQCLcBGAs/s1600/woman_593141_960_720.jpg) no-repeat center center;background-size: cover"></a>
                        <div class="post-panel">
                            <h3 class="rcp-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html">New Form of Farming Revolutionizes the Way We Eat</a>
                            </h3>
                            <span class="recent-date">2017-10-23</span>
                            <span class="recent-author">Muhammad Subel</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://news16-templatemark.blogspot.com/search/label/Advertisement" class="post-tag">Advertisement</a>
                        <a class="arl-tmb" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" style="background:url(https://3.bp.blogspot.com/-kdk75lCKEpw/We41sftnIlI/AAAAAAAACu4/gBYBc4R23-M-G7J9Dv3LgGqTsC6FB82nQCLcBGAs/s1600/sunglasses_635269_96_xlKy3.jpg) no-repeat center center;background-size: cover"></a>
                        <div class="post-panel">
                            <h3 class="rcp-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html">Study Suggests Today’s US Students Are Less Efficient Readers</a>
                            </h3>
                            <span class="recent-date">2017-10-23</span>
                            <span class="recent-author">Muhammad Subel</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://news16-templatemark.blogspot.com/search/label/Advertisement" class="post-tag">Advertisement</a>
                        <a class="arl-tmb" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" style="background:url(https://1.bp.blogspot.com/-_e9zZwsXQVU/We41D5-OWQI/AAAAAAAACu0/2NsZhKFAIdAga4R5KZn23z-mlJW0j3zBQCLcBGAs/s1600/spring_2298279_960_7_0acWE.jpg) no-repeat center center;background-size: cover"></a>
                        <div class="post-panel">
                            <h3 class="rcp-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html">New Resources Critical for Stroke Recovery</a>
                            </h3>
                            <span class="recent-date">2017-10-23</span>
                            <span class="recent-author">Muhammad Subel</span>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>