<div class="widget PopularPosts" data-version="1" id="PopularPosts1">
    <h2>Popular Posts</h2>
    <div class="widget-content popular-posts">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-thumbnail">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_blank">
                            <img alt="" src="/News16_files/woman_593141_960_720.jpg" height="72" border="0" width="72">
                        </a>
                    </div>
                    <div class="item-title">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html">New Form of Farming Revolutionizes the Way We Eat</a>
                    </div>
                    <div class="item-snippet">By 2050, the world population will reach almost 10 billion...</div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-thumbnail">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_blank">
                            <img alt="" src="/News16_files/spring_2298279_960_7_0acWE_003.jpg" height="72" border="0" width="72">
                        </a>
                    </div>
                    <div class="item-title">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html">New Resources Critical for Stroke Recovery</a>
                    </div>
                    <div class="item-snippet">The American Heart Association/American Stroke Association...</div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-thumbnail">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_blank">
                            <img alt="" src="/News16_files/necklace_518268_960__CTVFi_003.jpg" height="72" border="0" width="72">
                        </a>
                    </div>
                    <div class="item-title">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html">Fall in Love with Greater Fort Lauderdale</a>
                    </div>
                    <div class="item-snippet">Travelers may think of summer and beach activities when...</div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-thumbnail">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_blank">
                            <img alt="" src="/News16_files/child_817373_960_720.jpg" height="72" border="0" width="72">
                        </a>
                    </div>
                    <div class="item-title">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html">Solving A Major Problem in Additive Manufacturing</a>
                    </div>
                    <div class="item-snippet">A new approach to making everything from jet engines to...</div>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-thumbnail">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_blank">
                            <img alt="" src="/News16_files/blue_2705642_960_720_002.jpg" height="72" border="0" width="72">
                        </a>
                    </div>
                    <div class="item-title">
                        <a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html">5 Mistakes to Avoid When Choosing a Medicare Advantage Plan</a>
                    </div>
                    <div class="item-snippet">The Medicare Annual Election Period takes place this fall...</div>
                </div>
                <div style="clear: both;"></div>
            </li>
        </ul>
    </div>
</div>