<div class="widget-content" style="text-align:center">
    <a href="{{ banner.url }}" title="{{ banner.title }}">
        <img alt="{{ banner.title }}" src="{{ banner.img }}" border="0">
    </a>
</div>