<div class="animated fadeInUp section" id="adpost">
    <div class="widget HTML" data-version="1" id="HTML6">
        <div class="post-ad" style="display: block">
            {% include 'Frontend/Banner/banner.twig' with {'banner': banner} only %}
        </div>
    </div>
</div>
<div class="clear"></div>