<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title|default('site_name'|trans) }}</title>
    </head>
    <body>
        <p>{{ 'From'|trans }}: {{ from }}</p>
        <br>
        <p><pre>{{ text }}</pre></p>
    </body>
</html>