{% extends 'frontend_layout.twig' %}

{% block content %}
    <div class="content-lg container margin-t-40">
        <div class="page-header">
            <h2>{{ title|trans }}</h2>
        </div>
        {{ text|raw }}
    </div>
{% endblock %}